/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/

* {
    border: 2px solid rgb(216, 158, 158);
}

.box-item {
    background-color: yellow;
    border: 1px solid black;
}

/* Elements */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("assets/burger-friends.jpg");
    background-size: 100%;
    margin: 0px;
}

main {
    margin: 40px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 40px;
    margin: 0px;
}

button {
    text-transform: uppercase;
    border-radius: 4px;
    border: 0px;
    padding: 10px;
    opacity: 0.9;
}

input {
    padding-left: 0px;
    margin: 15px;
    margin-left: 30px;
}

p {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin: 0px;
}

/* Classes */
.navbar {
    background-color: #0fb9b1;
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.required {
    color:#ee5253;
    position: relative;
    top: -9px;
}

.content-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    background-color: rgba(225, 225, 225, .9);
    width: 465px;
    height: 368px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.food-options {
    font-size: 20px;
}

.suggestion {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hidden {
    display: none;
}

/* Id's */
#add-recipe-button {
    background-color: whitesmoke;
}

#add-recipe-button:hover {
    transition: 0.2s;
    background-color: #95a5a6;
    color:whitesmoke;
}

#cook-button {
    background-color: #0fb9b1;
    height: 34px;
    width: 175px;
    margin-left: 30px;
    margin-top: 8px;
}

#cook-button:hover {
    transition: 0.2s;
    background-color: #95a5a6;
    color:whitesmoke;
}

#clear-button {
    background-color: #95a5a6;
    height: 34px;
    width: 175px;
    margin-left: 50%;
    color:whitesmoke;
}

#clear-button:hover {
    transition: 0.2s;
    background-color: #0fb9b1;
    color:whitesmoke;
}

#food-question {
    font-size: 30px;
    margin-bottom: 10px; 
    margin-left: 30px;
}

#cook-pot-image {
    width: 150px;
    height: 150px;
}